*
{
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body#login-page
{
    margin: 0;
    height: 100vh;
    display: flex;
    
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
        url('../images/login-bg.jpg');
    background-size: cover;
    background-position: center;
}

/* Left*/
.logo-panel
{
    width: 60%;
    padding: 60px;

    color: #e8f6ff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.logo
{
    width: 80px;
    margin-bottom: 20px;
}
.logo-panel h1
{
    font-size: 48px;
    margin: 0;
}

.tagline
{
    font-size: 18px;
    margin-top: 10px;
    opacity: 0.85;
}

/* Right */
.login-panel
{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-card
{
    background: rgba(180, 220, 255, 0.22);
    backdrop-filter: blur(18px);

    padding: 40px;
    width: 500px;
    height: 500px;
    border-radius: 18px;

    box-shadow: 0 30px 60px rgba(0, 0, 0, 0.4);
    color: white;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center; /*vert center*/
    align-items: center;/*horizont center*/
}

.login-card h2
{
    margin-bottom: 20px;
}

.login-card input
{
    width: 100%;
    max-width: 360px;
    padding: 12px;
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
    outline: none;
}

.login-card button
{
    width: 100%;
    max-width: 360px;
    padding: 12px;
    border: none;
    border-radius: 10px;

    background: linear-gradient(135deg, #00b4d8, #0077b6);
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.signup-text
{
    margin-top: 15px;
    font-size: 14px;
}

.signup-text a
{
    color: #cceaff;
    text-decoration: underline;
    cursor: pointer;
}